.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

*.docx
*.html
*Coverletter.*

Likelihood_Comparison/*/*

Simulation_Based_Calibration/rep*

Scenario_Testing/Results2/*

Noise_Testing/Results/observation*
Noise_Testing/Results/transmission*

Benchmarking/BDSky/*.log
Benchmarking/TimTam/*.log
Benchmarking/BDSky/*.state
Benchmarking/TimTam/*.state
Benchmarking/BDSky/*.tab
Benchmarking/TimTam/*.tab

